<%- include('./../views/header.ejs') %>

<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="/images/10867509.jpg" alt="blog1" />

          <h3>Down From The Mountain</h3>
          <p>by <span>Jim Rey</span> on <span>October 22, 2018</span></p>
          <p>pandu boi</p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-box">
          <img src="/images/istockphoto-1183183791-612x612.jpg" alt="blog1" />

          <h3>Happy Meal</h3>
          <p>by <span>Marlin Rotach</span> on <span>October 22, 2018</span></p>
          <p>Discription-</p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-box">
          <img src="/images/img2.jpg" alt="blog1" />

          <h3>Cow Pony #2</h3>
          <p>by <span>Jerry Markham</span> on <span>October 22, 2018</span></p>
          <p>Discription</p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-box">
          <img src="/images/img1.jpg" alt="blog1" />

          <h3>Ballet for Billy the Kid; Escape from the McSween Home</h3>
          <p>
            by <span>Kathryn Ashcroft</span> on <span>October 22, 2018</span>
          </p>
          <p>Discription</p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-box">
          <img
            src="/images/photo-1486312338219-ce68d2c6f44d.jpeg"
            alt="blog1"
          />

          <h3>Team Spirit</h3>
          <p>
            by <span>Chuck Middlekauff</span> on <span>October 22, 2018</span>
          </p>
          <p>Discription</p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('footer.ejs') %>
